{{> mainmenu _id="home" }}

<section class="ui raised segment">

  <p>Log in Successful</p>
  <div class="ui  divider"></div>
    <div id="map" style="width: 600px; height: 400px;"></div>

    <script src="js/markers.json"></script>
    <script src="js/map.js"></script>

</section>

