{{> welcomemenu }}

<section class="ui stacked segment">
  <div class="ui grid">
    <article class="ten wide column">
      <header class="ui  header">Log in</header>
      <p> Please log in and post your location. </p>
    </article>
  </div>
</section>
